$font-family: 'Poppins', sans-serif;

$primary-color: #111827;
$body-text-color: #4b5563;
$vibrant-color: #0ea5e9;
$border-color: #e5e7eb;
$default-bg: #ffffff;
$error-color: #ef4444;

$divider-color: #e5e7eb;
$text-muted: #6b7280;

$text-4xl: 3.6rem;
$text-2xl: 1.6rem;
$text-lg: 1.125rem;
$text-base: 1rem;
$text-sm: 0.875rem;

$mobile-breakpoint: 768px;

.container {
  max-width: 450px;
  margin: 0 auto;
  // padding: 2rem;

  @media (max-width: $mobile-breakpoint) {
    padding: 1.5rem 0.75rem;
  }
}

.title {
  font-size: $text-4xl;
  font-weight: 600;
  color: $primary-color;
  margin-bottom: 2rem;
  text-align: center;

  @media (max-width: $mobile-breakpoint) {
    font-size: $text-2xl;
    margin-bottom: 1.5rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 1.5rem;

  @media (max-width: $mobile-breakpoint) {
    gap: 1rem;
  }
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-size: $text-2xl;
  font-weight: bold;
  color: $primary-color;

  @media (max-width: $mobile-breakpoint) {
    font-size: $text-base;
  }
}

.input {
  padding: 1.5rem 1rem;
  font-size: 1.4rem;
  border: 1px solid $border-color;
  border-radius: 1.2rem;
  outline: none;
  transition: border-color 0.2s;

  @media (max-width: $mobile-breakpoint) {
    padding: 0.5rem 0.75rem;
    font-size: $text-sm;
  }

  &:focus {
    border-color: $vibrant-color;
  }
}

.inputError {
  border-color: $error-color;
}

.button {
  margin-top: 0.5rem;
  padding: 1.7rem;
  background-color: $primary-color;
  color: $default-bg;
  font-size: $text-2xl;
  font-weight: 500;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  transition: transform 0.2s ease;

  @media (max-width: $mobile-breakpoint) {
    padding: 0.75rem;
    font-size: $text-sm;
  }

  &:hover {
    transform: scale(1.02);
  }

  &:focus {
    outline: none;
  }
}

.disabled {
  pointer-events: none;
  background-color: $body-text-color;
}

.divider {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  position: relative;

  justify-content: center;

  @media (max-width: $mobile-breakpoint) {
    margin: 1rem 0;
  }

  &::before,
  &::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: $divider-color;
  }
}

.dividerText {
  padding: 0 1rem;
  color: $text-muted;
  font-size: $text-lg;

  @media (max-width: $mobile-breakpoint) {
    padding: 0 0.5rem;
  }
}

.createAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.newUser {
  color: $text-muted;
  font-size: $text-lg;
}

.link {
  color: $vibrant-color;
  text-decoration: none;
  font-weight: 500;
  font-size: $text-lg;

  &:hover {
    text-decoration: underline;
  }
}

.error {
  background-color: $border-color;
  color: $primary-color;
  padding: 0.75rem;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  font-size: $text-lg;
}
