.hero {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}



.content {
  max-width: 500px;
  text-align: end;
}

.title {
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.1;
  margin: 0;
  margin-bottom: 2rem;
}

.subtitle {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.02em;
  // opacity: 0.7;
  line-height: 1.6;
  margin-left: 2px;
  color: #111827;
  border: 1px solid #111827;
  border-radius: 25px;
  padding: 1rem;
  transition: all 0.5s ease;
  // rgb(18, 24, 38)

  &:hover {
    background-color: #111827;
    opacity: 1;
    color: #FFFFFF;
  }

  @media (max-width: 768px) {
    margin-left: 3px;
  }
}

h2 {
  font-weight: 600;
  font-size: 3rem;


}

.promocodesContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.promocodes {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.02em;
  opacity: 0.7;
  margin: 0;
  margin-left: 2px;
  color: #111827;
}


.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroImage {
  width: 100%;
  height: auto;
  max-width: 660px;
  max-height: 796px;
  border-radius: 15px;
  filter: grayscale(0.4);
}

@media (max-width: 768px) {
  .content {
    text-align: start;
  }

  .hero {
    padding: 100px 0 60px;
    flex-direction: column;
    gap: 4rem;

    align-items: start;
    padding: 0 2rem;
  }

  .promocodesContainer {
    margin-top: 0;
  }
}
