.header {
    background-color: rgb(109, 191, 233);
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.nav-link {
    display: block;
    color: black;
    transition: color 1s ease;
    &:hover {
        color: rgb(255, 255, 255);
    }
}