$gray-background: #f8f8f8;
$body-text-color: #4b5563;
$primary-color: #111827;

.header {
    margin: 0;
    margin-bottom: 10px; 
    font-size: 1.8rem; 
    font-weight: 600; 
    line-height: 28px;
    color: $primary-color;
}

.sub-header {
    margin: 0;
    margin-bottom: 10px; 
    font-size: 1.4rem; 
    font-weight: 600; 
    line-height: 28px;
    color: $primary-color;
}

.sort-list-button-label {
    font-size: 1.4rem; 
    font-weight: 400; 
    color: $primary-color;
}