.containerSlider {
  position: relative;
  width: 100%;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.containerSlider>button {
  background-color: transparent;
  outline: none;
  border: 0;
  // color: whitesmoke;
  font-size: 24px;
  cursor: pointer;
}

.containerSlider>button:active {
  color: black;
}

.sliderButtonNext {
  position: absolute;
  right: 0;
  padding: 0;
  background-color: transparent;
  outline: none;
  border: 0;
  // color: whitesmoke;
  font-size: 24px;
  cursor: pointer;
}

.sliderButtonPrev {
  position: absolute;
  left: 0;
  padding: 0;
  background-color: transparent;
  outline: none;
  border: 0;
  // color: whitesmoke;
  font-size: 24px;
  cursor: pointer;
}

.containerSliderLinks {
  // position: absolute;
  // bottom: 5%;
  // left: 50%;
  // transform: translateX(-50%);
}

.containerSliderLinksSmall {
  position: relative;
  width: auto;
  max-width: 48px;
  height: 8px;
  padding: 0;
  border-radius: 50%;
  outline: none;
  border: 0;
  background-color: white;
  border: 1px solid grey;
  transition: background-color 1s ease;
  margin: 0 2px;
  background-color: transparent;
  outline: none;
  border: 0;
  // color: whitesmoke;
  font-size: 24px;
  cursor: pointer;
}

.containerSliderLinksSmallActive {
  position: relative;
  width: auto;
  max-width: 48px;
  height: 8px;
  height: 8px;
  padding: 0;
  border-radius: 50%;
  outline: none;
  border: 0;
  background-color: white;
  border: 1px solid grey;
  transition: background-color 1s ease;
  margin: 0 2px;
  background-color: black;
  border-radius: 2px;
  background-color: transparent;
  outline: none;
  border: 0;
  // color: whitesmoke;
  font-size: 24px;
  cursor: pointer;
}

.sliderItem {
  box-sizing: border-box;
  min-width: 100%;
  overflow: hidden;
  object-fit: cover;
  height: auto;
  transform: translateX(0);
  transition: transform 0.5s ease;
  height: auto;
  border-radius: 2px;
}

.imgActive {
  border: 1px solid darkgray;
  border-radius: 2px;
}

.sliderItemActive1 {
  transform: translateX(0);
}

.sliderItemActive2 {
  transform: translateX(-100%);
}

.sliderItemActive3 {
  transform: translateX(-200%);
}

.sliderItemActive4 {
  transform: translateX(-300%);
}

.sliderItemActive5 {
  transform: translateX(-300%);
}

.sliderItemActive6 {
  transform: translateX(-300%);
}

.sliderItemActive7 {
  transform: translateX(-300%);
}
