@font-face {
  font-family: 'Poppins';
  src: url('@assets/fonts/Poppins/Poppins-Regular.woff') format('woff');
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: Poppins;
  min-height: 100vh;
}

.body_wrap {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;

  white-space: nowrap;

  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.noscroll {
  overflow: hidden;
}

.display-none {
  display: none;
}
