@font-face {
  font-family: 'Poppins';
  src: url('@assets/fonts/Poppins/Poppins-Regular.woff') format('woff');
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 10px;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 390px;
  font-family: Poppins;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

.body_wrap {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.noscroll {
  overflow: hidden;
}

.display-none {
  display: none;
}
