@font-face {
  font-family: 'Poppins';
  src: url('@assets/fonts/Poppins/Poppins-Regular.woff');
}

:root {
  --font: 'Poppins';
  --primary-color: #111827;
  --body-text-color: #4b5563;
  --vibrant-color: #0ea5e9;
  --border-color: #e5e7eb;
  --default-color: #ffffff;
  --gray-background: #f8f8f8;
  --red-border-color: red;
}

.error {
  width: 50%;
  height: 20%;
  background: rgba(0, 0, 0, 0.3);
  border-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-color);
  font-family: var(--font);

  &::backdrop {
    position: fixed;
    top: 0;
    left: auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
  }

  &_text {
    box-sizing: border-box;
    text-align: center;
    padding: 6vh 0;
    height: 50%;
    width: 100%;
    margin: auto;
    background-color: var(--gray-background);
    resize: none;
  }

  button {
    color: var(--default-color);
    align-items: center;
    padding: 12px;
    background: var(--primary-color);
    box-shadow:
      0px 20px 25px -5px rgba(0, 0, 0, 0.1),
      0px 8px 10px -6px rgba(0, 0, 0, 0.1);
    border-radius: 9999px;
    border-color: var(--primary-color);
    transition: all 0.2s ease-in;

    &:hover {
      cursor: pointer;
      color: var(--primary-color);
      background: var(--default-color);
      border-color: var(--border-color);
    }
  }
}

:root {
  --point-color: #555;
  --size: 5px;
}

.container {
  overflow: hidden;
  width: 100%;
  height: 90%;
  position: fixed;
  top: 10%;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 100000;
}

.element {
  border-radius: 100%;
  border: var(--size) solid var(--point-color);
  margin: calc(var(--size) * 2);
}

.element:nth-child(1) {
  animation: preloader 0.6s ease-in-out alternate infinite;
}

.element:nth-child(2) {
  animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
}

.element:nth-child(3) {
  animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
}

@keyframes preloader {
  100% {
    transform: scale(2);
  }
}
